.Post {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.contentForLoader {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.loaderContainer {
  text-align: center;
}

.paperPost {
  margin-top: 1rem;
  padding: 2rem;
}
